* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif; 
}

/* LAYOUT */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
.header {
    padding: 25px;
    font-size: 40px;
    color:  rgb(10, 95, 253);
    font-family: 'Franklin Gothic Medium'; 
}

/* SEARCH */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #fff;
    background: rgb(10, 95, 253);
    text-transform: uppercase;
}

.search select {
    margin-left: 20px;
}

.search label {
    font-weight: bold;
}

/* ICONE */
.icons {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
    background: rgb(241, 235, 235);
}

.icons .icon {
    flex-basis: calc( 100% / 6 - 20px);
    padding: 20px;
    margin: 20px 10px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border-radius: 10px;
    text-transform: uppercase;
}

.icons .icon i {
    font-size: 38px;
    margin-bottom: 20px;
}
